

/* customize from bootstrap */





body {padding-top: 0px; font-size: 12px;}


.sidebar-nav {padding: 0;}
h1,h2,h3{line-height:1; margin:0;}
h1{font-size:1.5em;}
h2{font-size:1.2em;}
h3{font-size:1.1em; padding-bottom:10px;}
footer{font-size:11px; color:#ccc; text-align:right;}
.clear, .cl{clear:both;}

a{color:#3498db;}
a:hover{color:#e67e22; text-decoration:none;}
.hideinit{display:none;}
.red{color:#f00;}




.page-header{padding-bottom:4px; margin:0 0 10px 0;}
.page-header h1{margin-top:0; text-transform:uppercase; text-shadow: 1px 1px 0 #fff;}
#topbar .logo{color:#fff; line-height:40px; font-weight:bold; font-size:16px; padding:14px 16px;margin-left:-10px;}
.navbar-inner{background: #3498db; height:40px;}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{box-shadow:none;-webkit-box-shadow:none;border-width:0;}

.form-search .input-append .search-query{border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px;border-color:#fff;}
.form-search .input-append .btn{border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-width:0; text-shadow:none; -webkit-text-shadow:none; font-weight:normal;}
.form-search .input-append .btn:hover{background:#ddd;}
.tab-content .form-inline{padding: 10px !important;}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	font-size:12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* flat */
#profiledropdown{background:none; border-width:0; margin-top:5px; font-weight:normal; text-shadow:none; -webkit-text-shadow:none; color:#fff; font-size:12px;}
#profiledropdown .caret{border-top-color:#fff; margin-left:5px;}
#navbar{width:178px; position: fixed; top: 40px; z-index:220; bottom:0; background:#f2f7fa; box-shadow:-1px 0 0 #DDE2EB inset; overflow:hidden; box-sizing: border-box; --moz-box-sizing: border-box; --webkit-box-sizing: border-box;}
#navbar .well{border-width:0;background:none;box-shadow:none; -webkit-box-shadow:none;}
.sidebar-nav h2{font-size:12px; font-weight: 400; text-transform: uppercase; line-height: 28px; padding: 8px 0 0 20px; color:#aab6bd; cursor: pointer;}
.sidebar-nav h2:hover{color:#000; font-weight: bold;}
.sidebar-link { border: 1px solid transparent; border-left: 0; display: block; font-size: 13px; padding: 7px 5px 6px 20px !important; color: #042333;
    width: 178px;
}
.sidebar-link:hover {color: #042333; text-decoration: none; background-color: #dfeaf0; border: 1px solid #cbd9e0!important; border-left: 0!important}

.sidebar-link:active {background-color: #E1E9F0}

li.active .sidebar-link{color:#fff !important; font-weight: normal; border:1px solid #348bb0 !important; border-left:0;background-color:#479ccf!important;}

#container .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 23px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}


#container .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 22px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}




#container{padding:96px 0 20px 178px;}
.star_require{color:#f00;}
.notify-bar-text-sep{height:1px; background:#fff;padding:0 !important;margin:0 20px 5px 0;}



/*	PAGINATION	*/
.paginationa {margin:5px;}
.paginationa li{float:left;list-style-type:none;}
.paginationa a { margin: 0 5px 0 0;padding: 5px 10px;color:#000;font-style:normal; border-radius:2px; -webkit-border-radius:2px;}
.paginationa a:hover {color:#09f;background:#eee; text-decoration:none;}
.paginationa .page a {border: 1px solid #ddd;}
.paginationa .selected a{background: #08c !important;border-color: #333 !important;color: #fff !important;}
.paginationa .next a{background:#09f; font-weight:bold; color:#fff;padding:6px 15px;border:2px solid #fff;}
.paginationa .next a:hover{background:#f90;}
.paginationa .selected a:hover {text-decoration: none;}
.paginationa a.current{background:#08c; color:#fff;}


.formfilterpaginatorwrapper .pagination{float:right;}
.pagination {
    margin: 0;
    line-height: 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 6px 14px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-left-width: 0;
    cursor: pointer;
    color:#888;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus {
  background-color: #eee;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #eee !important;
    border-color: #ddd;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 10.5px;
}



/*	NOTIFY BAR	*/
.notify-bar{padding:10px;margin-bottom:10px;}
.notify-bar-success{background:#eaffa5;color:#6c8c00;}
.notify-bar-error{background:#ffcfce;color:#9e3737;}
.notify-bar-warning{background:#ffeeb1;color:#e37b00;}
.notify-bar-info{background:#d6e2ff;color:#577bd1;}
.notify-bar-icon{float:left;width:32px;}
.notify-bar-text{padding:0 20px 0 10px; line-height:1.5;}
.notify-bar-text code{background:none;}
.notify-bar-text-sep{border-top:1px solid #eee;margin:10px 0; display:none;}
.notify-bar-button{float:right;width:15px;text-align:right;}

.header-row{position:fixed; top: 40px; width:100%; z-index: 200; padding-left: 178px; margin-left: -178px; min-width:960px; border-bottom: 1px solid #e6e6e6; background:#fff; box-sizing: border-box; --moz-box-sizing: border-box; --webkit-box-sizing: border-box;}
.header-row-wrapper{width:100%;}
.header-row header{position: relative; height: 56px; padding: 0 0 0 20px; box-shadow: 0 0 4px 1px rgba(0,0,0,.04)}

.header-main {
    position: absolute;
    bottom: 12px;
    font-size: 24px;
    font-family: ProximaNovaLight,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 32px;
    height: 32px;
    font-weight: 300;
    width: 100%;
    max-width: 718px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.header-right{position:absolute; bottom:12px; right:20px; line-height: 1;}
.header-right .btn{margin-left:7px;}
.breadcrumb{color:#999; background:none; padding: 0 0 0 5px;}
.breadcrumb a{color:#999;}
.breadcrumb a:hover{text-decoration: underline}




/*  PROFILE */
.form-avatar{background:#EBF4FB;clear:both;margin:10px 0; clear:both; border: 1px solid #B7DDF2;}
.form-avatar-image{}
.form-avatar-image img{width:100%; padding:10px; border:0px solid #fff;}
.form-avatar-heading, .form-avatar-heading-alt{font-size:14px; font-weight:bold; padding:15px 10px 10px 0;}
.form-avatar-text{color:#000;margin-right:10px;line-height:1.5; float:left; width:500px; padding-top:5px;}
.form-avatar-buttons, .form-avatar-buttons-alt{margin:10px 0; text-align: center;}
.form-avatar-buttons a, .form-avatar-buttons-alt a{height:19px; line-height:19px; display:inline-block; padding:3px 10px;}
.form-avatar-buttons-alt a:first-child{border-right:1px solid #ccc; padding-left:0;}
.form-avatar-error{font-weight:bold; color:#f00;padding:5px;border:1px solid #FF3333;background:#FFEaEa}


th.is-sortable{ color:#3A9EF0;cursor: pointer;}
th.is-sortable:hover{background:#f5fbff; color:#3A9EF0;}
th.is-sortable span{float:left;}
th.is-sortable i{margin-left:5px; color:#999;}
tr.is-prepareremove td{background: #ffeded;}

.filter-indicator{background: url(../../images/admin/search-filter.png) 10px no-repeat;padding-left:32px;}
.filter-indicator-loading{background: url(../../images/admin/spinner.gif) 10px no-repeat; padding-left: 32px;}
.filter_more{width: auto; min-width: 120px;}
.remove-record-button-popoverwrapper{width:70px;}

.formfilter-empty{color:#ccc; text-align: center; padding:70px 0;}
.formfilter-empty div{text-align: center;padding-bottom:30px;}
.formfilter-empty div i{font-size:200px;}
.formfilter-empty p{font-size:28px; color:#bbb;}

#navbar .sidebar-nav ul {
    display: none;
}
.h2active{
    color: #000 !important;
    font-weight: bold !important;
}